<html>
<head>
    <meta charset="UTF-8">
    <script src="./lib/angular/angular.js"></script>
</head>

<body ng-app="myApp">


<!--filter-->
<div ng-controller="filterCtrl">
    <input type="text" ng-model="query">
    <ul ng-repeat="item in data | filter:query| orderBy:orderFiled">
        <li>{{item.name}}</li>
    </ul>
</div>


<!--custom filter-->
<div ng-controller="customFilterCtrl">
    <input type="text" ng-model="key">
    <ul ng-repeat="item in data |customFilter:key">
        <li>{{item.name}}</li>
    </ul>
</div>

<hr>

<!--custom filter2-->
<div ng-controller="Controller as ctrl">
    <ul ng-repeat="item in ctrl.arr">
        <li>{{item | customFilter2}}</li>
    </ul>
</div>

<hr>

<div ng-controller="reverseCtrl">
    <input type="text" ng-model="key">

    <div>
    <p>Reverse Result:
        <p>{{key | reverse}}</p>
    </p>
    <p>Reverse&Uppercase Result:
        <p>{{key | reverse:!0}}</p>
    </p>
    </div>
</div>

<script type="text/javascript">
    var data = [
        {name: 'a', num: 6},
        {name: 'a', num: 7},
        {name: 'b', num: 2},
        {name: 'c', num: 3},
        {name: 'd', num: 4}
    ];


    var app = angular.module('myApp', [])
            .controller('filterCtrl', ['$scope', function (sp) {
                sp.data = data;
                sp.orderFiled = 'num';
            }])
            .controller('customFilterCtrl', ['$scope', function (sp) {
                sp.data = data;
            }]);



    app.controller('Controller',['$scope',function($scope){
        this.arr = [1,2,3,4,5];
    }]);



    app.controller('reverseCtrl',['$scope',function($scope){
       $scope.key = '123abc';
    }]);



    app.filter('customFilter', [function () {
        return function (data, key) {
            return !key ? data : data.filter(function (item) {
                return item.name == key;
            });
        }
    }]).filter('customFilter2',function(){
        return function (o){
            return o == 1 ? o : 2;
        }
    }).filter('reverse',function(){
       return function (word,isUpper){
           var input = word || '',
                   result = '';
           for(var i=0;i<input.length;i++){
                result = input.charAt(i) + result;
           }

           if(isUpper) result = result.toUpperCase();

           return result;
       }
    });



</script>
</body>
</html>