<html>
<head>
    <meta charset="UTF-8">
    <script src="./lib/angular/angular.js"></script>
</head>

<body ng-app ng-init="msg = 'hello,world'">

<p>ng-init 初始化 {{msg}}</p>


<input ng-model="text" id="oText"/>

<p>输入了:{{text}} </p>

<div>
    <input ng-model='name' /> <hr/>
    <span ng-bind="name"></span> <br/>
    <span ng:bind="name"></span> <br/>
    <span ng_bind="name"></span> <br/>
    <span data-ng-bind="name"></span> <br/>
    <span x-ng-bind="name"></span> <br/>
</div>


</body>
</html>